In [1]:
import pandas as pd
from binance.client import Client
from datetime import datetime, timedelta

In [3]:
client = Client()
print("✓ Binance client initialized successfully!")

✓ Binance client initialized successfully!

In [8]:
symbol = 'PAXGUSDT'
interval = '4h'
days = 180

In [9]:
start_date = (datetime.now() - timedelta(days=days)).strftime("%d %b %Y")

print(f"Fetching {symbol} data...")
print(f"Interval: {interval} (daily candles)")
print(f"Period: Last {days} days")
print(f"Start date: {start_date}\n")

Fetching PAXGUSDT data...
Interval: 4h (daily candles)
Period: Last 180 days
Start date: 20 May 2025

In [10]:
klines = client.get_historical_klines(
    symbol, 
    interval, 
    start_date
)

In [11]:
df = pd.DataFrame(klines, columns=[
    'timestamp', 'open', 'high', 'low', 'close', 'volume',
    'close_time', 'quote_volume', 'trades', 'taker_buy_base',
    'taker_buy_quote', 'ignore'
])

In [16]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
df ['close_time'] = pd.to_datetime(df['close_time'], unit='ms')

In [17]:
df.head()

,timestamp,open,high,low,close,volume,close_time,quote_volume,trades,taker_buy_base,taker_buy_quote,ignore
0,2025-05-20 00:00:00,3235.73000000,3244.54000000,3219.00000000,3226.31000000,1311.96810000,2025-05-20 03:59:59.999,4233166.76138000,7938,355.04320000,1145826.27491100,0
1,2025-05-20 04:00:00,3226.62000000,3242.08000000,3225.05000000,3240.52000000,460.00970000,2025-05-20 07:59:59.999,1487132.99470600,3947,309.71090000,1001424.88133300,0
2,2025-05-20 08:00:00,3240.52000000,3262.04000000,3235.34000000,3261.34000000,1109.47550000,2025-05-20 11:59:59.999,3607010.16471700,6522,697.86010000,2268328.69342000,0
3,2025-05-20 12:00:00,3261.25000000,3299.99000000,3250.98000000,3291.00000000,1341.33970000,2025-05-20 15:59:59.999,4405278.84383300,9752,685.99140000,2252615.26506300,0
4,2025-05-20 16:00:00,3290.82000000,3305.75000000,3289.14000000,3304.27000000,1222.20080000,2025-05-20 19:59:59.999,4033427.26019200,10697,568.79420000,1877124.47128600,0

In [18]:
for col in ['open', 'high', 'low', 'close', 'volume']:
    df[col] = df[col].astype(float)

In [19]:
df.set_index('timestamp', inplace=True)

In [20]:
df.head()

,open,high,low,close,volume,close_time,quote_volume,trades,taker_buy_base,taker_buy_quote,ignore
timestamp,,,,,,,,,,,
2025-05-20 00:00:00,3235.73,3244.54,3219.00,3226.31,1311.9681,2025-05-20 03:59:59.999,4233166.76138000,7938,355.04320000,1145826.27491100,0
2025-05-20 04:00:00,3226.62,3242.08,3225.05,3240.52,460.0097,2025-05-20 07:59:59.999,1487132.99470600,3947,309.71090000,1001424.88133300,0
2025-05-20 08:00:00,3240.52,3262.04,3235.34,3261.34,1109.4755,2025-05-20 11:59:59.999,3607010.16471700,6522,697.86010000,2268328.69342000,0
2025-05-20 12:00:00,3261.25,3299.99,3250.98,3291.00,1341.3397,2025-05-20 15:59:59.999,4405278.84383300,9752,685.99140000,2252615.26506300,0
2025-05-20 16:00:00,3290.82,3305.75,3289.14,3304.27,1222.2008,2025-05-20 19:59:59.999,4033427.26019200,10697,568.79420000,1877124.47128600,0

In [22]:
df.tail()

,open,high,low,close,volume,close_time,quote_volume,trades,taker_buy_base,taker_buy_quote,ignore
timestamp,,,,,,,,,,,
2025-11-15 12:00:00,4074.45,4099.41,4073.65,4094.83,1385.6833,2025-11-15 15:59:59.999,5664809.68848200,16052,764.85640000,3126686.55812900,0
2025-11-15 16:00:00,4094.83,4099.38,4087.17,4087.17,668.8012,2025-11-15 19:59:59.999,2737547.28729100,5703,291.96100000,1194866.77193100,0
2025-11-15 20:00:00,4087.18,4102.02,4085.31,4093.95,470.6815,2025-11-15 23:59:59.999,1926960.18874000,4668,234.59110000,960317.56810200,0
2025-11-16 00:00:00,4093.96,4107.34,4093.14,4102.38,652.2578,2025-11-16 03:59:59.999,2674835.90457400,7099,343.66580000,1409189.57364300,0
2025-11-16 04:00:00,4102.70,4107.00,4097.73,4101.17,353.6923,2025-11-16 07:59:59.999,1450974.27670700,2977,136.98310000,561995.02209300,0

In [24]:
print("\n" + "="*60)
print("DATA PREVIEW")
print("="*60)
print(f"\nDataFrame shape: {df.shape}")
print(f"Date range: {df.index[0]} to {df.index[-1]}")
print(f"\nFirst 5 rows:")
print(df[['open', 'high', 'low', 'close', 'volume', 'close_time']].head())
print(f"\nLast 5 rows:")
print(df[['open', 'high', 'low', 'close', 'volume', 'close_time']].tail())

============================================================
DATA PREVIEW
============================================================

DataFrame shape: (1082, 11)
Date range: 2025-05-20 00:00:00 to 2025-11-16 04:00:00

First 5 rows:
                        open     high      low    close     volume  \
timestamp
2025-05-20 00:00:00  3235.73  3244.54  3219.00  3226.31  1311.9681
2025-05-20 04:00:00  3226.62  3242.08  3225.05  3240.52   460.0097
2025-05-20 08:00:00  3240.52  3262.04  3235.34  3261.34  1109.4755
2025-05-20 12:00:00  3261.25  3299.99  3250.98  3291.00  1341.3397
2025-05-20 16:00:00  3290.82  3305.75  3289.14  3304.27  1222.2008

                                 close_time
timestamp
2025-05-20 00:00:00 2025-05-20 03:59:59.999
2025-05-20 04:00:00 2025-05-20 07:59:59.999
2025-05-20 08:00:00 2025-05-20 11:59:59.999
2025-05-20 12:00:00 2025-05-20 15:59:59.999
2025-05-20 16:00:00 2025-05-20 19:59:59.999

Last 5 rows:
                        open     high      low    close     volume  \
timestamp
2025-11-15 12:00:00  4074.45  4099.41  4073.65  4094.83  1385.6833
2025-11-15 16:00:00  4094.83  4099.38  4087.17  4087.17   668.8012
2025-11-15 20:00:00  4087.18  4102.02  4085.31  4093.95   470.6815
2025-11-16 00:00:00  4093.96  4107.34  4093.14  4102.38   652.2578
2025-11-16 04:00:00  4102.70  4107.00  4097.73  4101.17   353.6923

                                 close_time
timestamp
2025-11-15 12:00:00 2025-11-15 15:59:59.999
2025-11-15 16:00:00 2025-11-15 19:59:59.999
2025-11-15 20:00:00 2025-11-15 23:59:59.999
2025-11-16 00:00:00 2025-11-16 03:59:59.999
2025-11-16 04:00:00 2025-11-16 07:59:59.999

In [25]:
print("\n" + "="*60)
print("BASIC STATISTICS")
print("="*60)
print(f"\nCurrent Gold Price (PAXG): ${df['close'].iloc[-1]:.2f}")
print(f"Average Price: ${df['close'].mean():.2f}")
print(f"Highest Price: ${df['close'].max():.2f}")
print(f"Lowest Price: ${df['close'].min():.2f}")
print(f"Price Range: ${df['close'].max() - df['close'].min():.2f}")

============================================================
BASIC STATISTICS
============================================================

Current Gold Price (PAXG): $4101.17
Average Price: $3589.48
Highest Price: $4436.75
Lowest Price: $3226.31
Price Range: $1210.44

In [27]:
df.to_csv('gold_price_data.csv')
print(f"\n✓ Data saved to 'gold_price_data.csv'")

✓ Data saved to 'gold_price_data.csv'

In [29]:
print("\n4. Time Continuity Check:")
date_diff = df.index.to_series().diff()
expected_gap = pd.Timedelta(days=1)
gaps = date_diff[date_diff > expected_gap * 1.5]
print(f"Number of gaps found: {len(gaps)}")
if len(gaps) == 0:
    print("✓ No significant gaps in data!")
else:
    print("⚠ Some date gaps found (may be normal for weekends):")
    print(gaps.head())

4. Time Continuity Check:
Number of gaps found: 0
✓ No significant gaps in data!

In [30]:
# 5. Check for extreme outliers (price spikes > 10% in one day)
print("\n5. Extreme Price Movement Check:")
df['price_change_pct'] = df['close'].pct_change() * 100
extreme_changes = df[abs(df['price_change_pct']) > 10]
print(f"Days with >10% price change: {len(extreme_changes)}")
if len(extreme_changes) > 0:
    print("Large movements detected:")
    print(extreme_changes[['close', 'price_change_pct']].head())
else:
    print("✓ No extreme outliers detected")

5. Extreme Price Movement Check:
Days with >10% price change: 0
✓ No extreme outliers detected